<h1>Division</h1>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <a href="/add">Add</a>
        </td>

        <td>
          <a href="/subtract">Subtract</a>
        </td>

        <td>
          <a href="/multiply">Multiply</a>
        </td>

        <td>
          <a href="/divide">Divide</a>
        </td>
      </tr>
    </table>
    <h1>Division</h1>

<form action="/wizard_divide">
  <label for="first_field">Divide this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">by this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Divide!</button>
</form>

  </body>
